.card {
    background: #a9ead0;
    width: 350px;
    height: 310px;
    border-radius: 20px;
    border: 2px solid #00a7a7;
}
#name, #text, #deadline {
    border: 1px solid #150801;
    border-radius: 4px;
    height: 2em;
    padding: 4px;
    width: 210px;
    font-size: 15px;
}
input[type="text" i] {
    border: 1px solid #150801;
    border-radius: 4px;
    height: 2em;
    padding: 5px;
}

button {
    background:#bfffe6;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-size: 17px;
}
input[type="submit" i]  {
    background: #bfffe6;
    border-radius: 5px;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-size: 17px;
}

body {
    padding: 30px;
}
h3 {
    text-align: center;
}
.item-new {
    padding: 5px;
}
span {
    font-size: 20px;
}
.notes {
    border: 1px solid  #00a7a7;
    width: 500px;
    border-radius: 10px;
    background: #a9ead0;
}
.note {
    padding: 15px;
}
.stats  {
    border: 1px solid  #00a7a7;
    width: 500px;
    border-radius: 10px;
    background: #a9ead0;
}
.stat {
    padding: 15px;
}
label {
    font-size: 20px;
}
h4 {
    font-size: 20px;
}
p {
    font-size: 20px;
}
h3 {
    font-size: 45px;
}
.nameCard {
    font-size: 25px;
    text-align: center;
    padding: 15px;
}
.columns {
    display: flex;
}
.urgent {
    animation: blink 1s infinite;
    background-color: #ffeeee;
}
@keyframes blink {
    0% { background-color: #ffeeee; }
    50% { background-color: #ffcccc; }
    100% { background-color: #ffeeee; }
}